---
import Layout from "../../layouts/Layout.astro"
import * as m from "../../paraglide/messages";
import { setLocale } from "../../paraglide/runtime";

setLocale("fr");
---

<Layout>
  <h1>Astro {m.example_message({username: "Tibor"})}</h1>
</Layout>
