@import "tailwindcss";

@font-face {
  font-family: Gerrit;
  font-style: normal;
  font-display: block;
  src: url("./gerrit.woff2") format("woff2");
}

@theme {
  --font-sans: "Gerrit";
  --color-brand: #b09ce3;

  --breakpoint-tablet: 48rem; /* 768 px smaller ipads */ 
  --breakpoint-desktop: 80rem; /* 80rem (1280px), tailwind xl breakpoint */

  --max-content-width: 1600px;

  --color-electric-purple: #9839EA;
  --color-electric-purple-cool: #8A38F5;
  --color-spring-green: #66E64D;
  --color-silver: #CCCCCC;
  --color-black: #000000;
  --color-lavender: #B19CE2;

  --duration-base: 250ms;
}

@utility duration-* {
  transition-duration: --value(--duration-*);
}

@layer components {
 
  .button {
    @apply text-base desktop:text-xl; 
    @apply tracking-[0.02em] desktop:tracking-[0.025em];
    @apply leading-none;

    --btn-bg: var(--color-black);
    --btn-text: var(--color-silver);
    --btn-bg-hover: var(--color-black);
    --btn-text-hover: var(--color-spring-green);
    --btn-bg-active: var(--color-spring-green);
    --btn-text-active: var(--color-black);

    & > .button__content {
      @apply p-3; 
      @apply transition-colors duration-base;
      background-color: var(--btn-bg);
      color: var(--btn-text);
    }

    &.button-primary {
       
    } 

    &.button--secondary {
      --btn-bg: var(--color-lavender);
      --btn-text: var(--color-black);
      --btn-bg-hover: var(--color-black);
      --btn-text-hover: var(--color-lavender);
      --btn-bg-active: var(--color-electric-purple);
      --btn-text-active: var(--color-black);
    }

    &:hover {
      --btn-bg: var(--btn-bg-hover);
      --btn-text: var(--btn-text-hover);
    }

    &:active{
      --btn-bg: var(--btn-bg-active);
      --btn-text: var(--btn-text-active);
    }
    
    & > .button__border-box {
      @appy w-full h-full;
      filter: blur(1px);
      
      box-shadow: 
        inset 0 0 0 1px var(--color-black), 
        inset 0 0 0 2px var(--color-electric-purple), 
        inset 0 0 0 3px var(--color-spring-green), 
        inset 0 0 0 4px var(--color-silver), 
        inset 0 0 0 5px var(--color-electric-purple);
    }
  }
}

@layer base {
  body {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    font-optical-sizing: none;
    font-synthesis: none;
    -webkit-text-size-adjust: 100%;
  }

  body {
    @apply bg-lavender;

    & > * {
      /* @apply max-w-(--max-content-width) w-full mx-auto; */
    }
  }
}
