@import "tailwindcss";

@font-face {
  font-family: Gerrit;
  font-style: normal;
  font-display: block;
  src: url("/gerrit.woff2") format("woff2");
}

@theme {
  --text-xl--line-height: 1.1;

  --font-sans: "Gerrit";
  --color-brand: #b09ce3;

  --breakpoint-tablet: 48rem; /* 768 px smaller ipads */ 
  --breakpoint-desktop: 80rem; /* 80rem (1280px), tailwind xl breakpoint */

  --max-content-width: 1600px;

  --color-electric-purple: #9839EA;
  --color-electric-purple-cool: #8A38F5;
  --color-spring-green: #66E64D;
  --color-silver: #CCCCCC;
  --color-black: #000000;
  --color-lavender: #B19CE2;

  --duration-base: 250ms;
 
  --gap-x-xs: 0.5rem;
  --gap-y-xs: 0.5rem;

  --gap-x-sm: 0.75rem;
  --gap-y-sm: 0.75rem;
  
  --gap-x-base: 1rem;
  --gap-y-base: 1rem;
  
  --gap-x-lg: 2rem;
  --gap-y-lg: 2rem;
}

@utility duration-* {
  transition-duration: --value(--duration-*);
}

@utility gap-x-* {
  gap-x: var(--gap-x-sm);
  row-column: --value(--gap-x-*);
}

@utility gap-y-* {
  row-gap: --value(--gap-y-*);
}

@utility text-h3 {
  @apply text-2xl leading-[1.16] tablet:text-[2rem];
}

@utility text-h4 {
  @apply text-xl;
}

@utility text-h2 {
  @apply text-[2rem] tablet:text-[3rem];
}

@layer components {
  .heading {
    @apply text-[2rem] tablet:text-[3rem];
    @apply leading-none;
    @apply py-4 desktop:py-8;
    @apply text-center;
  }

  .section {
    @apply flex flex-col;
    @apply gap-x-base;
    @apply pt-(--gap-y-lg) tablet:pt-8;
    @apply pb-(--gap-y-lg);
    
    &:has(.section__title) {
      @apply pt-(--gap-y-base);
    }
  }

  .timetable {
    @apply grid grid-cols-1 desktop:grid-cols-3;
    @apply tablet:max-w-[500px] tablet:mx-auto desktop:max-w-full desktop:mx-0;

    @apply gap-x-(--gap-x-base);

    & .timetable__day {
      & .timetable__day__image {
        @apply max-w-47.5 max-h-[145px] mx-auto;
        @apply object-contain;
        @apply mt-(--gap-y-base) tablet:mt-0;
        @apply first:mt-0;
      }

      & .timetable__day__title {
          @apply text-h3 text-center leading-none;
          @apply py-(--gap-y-sm);
      }

      & .timetable__block {
        @apply py-(--gap-y-base);
        @apply flex flex-col;
        @apply gap-y-base;
        
        & .timetable__block__title {
          @apply text-h3 text-center leading-none;
        }

        & .timetable__block__items {
          @apply flex flex-col gap-y-sm leading-none;

          & .timetable__block__item {
            @apply leading-none;
            @apply tabular-nums; 
            @apply flex flex-row;
            @apply gap-x-base;
          }
        }
      }
    }


  }

  .session {
    @apply grid; 
    @apply grid-cols-1;
    @apply gap-y-lg;
    @apply gap-x-lg;
    grid-auto-rows: auto;
    grid-auto-flow: row dense;
    @apply tablet:grid-rows-[auto_1fr_auto_auto]; 
    @apply tablet:grid-cols-[1fr_1fr]; 
    @apply tablet:items-center;

    & .session__image, & .session__title-image {
      @apply tablet:w-full;
      @apply mx-auto;
      /* @apply bg-yellow-50; */
    }
    
    & .session__image {
      @apply tablet:row-span-4;
      @apply max-w-[50dvw];
      @apply self-start;
    }
    
    & .session__title-image {
      /* @apply tablet:row-start-2 tablet:col-start-2 tablet:col-span-1; */
      @apply tablet:order-3;
      @apply tablet:max-w-[80%];
      @apply object-contain;
    }

    & .session__info {
      @apply tablet:order-2;
      @apply flex flex-wrap gap-x-xs justify-center;
      @apply text-nowrap;
      @apply leading-none;
    } 
    
    & .session__socials {
      @apply flex flex-wrap gap-x-base justify-center;
      @apply h-min;
      @apply tablet:order-5;
      /* @apply tablet:row-start-4 tablet:col-start-2; */
      @apply text-nowrap;
      @apply leading-none;

      a:after {
        content: "";
      }
    } 

    & .session__body {
      @apply tablet:order-4;
      @apply h-min;
      /* @apply tablet:row-start-3 tablet:col-start-2; */
      p {
        @apply inline;
        &:after {
          content: " ■ " 
        }
      }
      
      p:last-of-type:after {
          content: "" 
      }

    }
  }

  .divider {
    @apply bg-transparent h-3;
    @apply border-t-0;
    @apply bg-black;
    @apply rounded-full;

    box-shadow: 
    inset 0 0 0 1px var(--color-silver), 
    inset 0 0 0 2px var(--color-electric-purple), 
    inset 0 0 0 3px var(--color-silver), 
    inset 0 0 0 4px var(--color-spring-green), 
    inset 0 0 0 5px var(--color-electric-purple);
    
    filter: blur(1px);
  }

  .separator:after {
    content: "■" 
  }

  .pageHeader {
    @apply mt-[18px] tablet:mt-8;
    @apply grid grid-cols-2 gap-3 tablet:gap-8 tablet:grid-cols-[auto_auto_1fr_auto_auto];

    & .pageHeader__title {
      @apply col-span-full desktop:col-span-1;
      @apply not-tablet:leading-none;
      @apply tablet:order-1;
    }

    & .pageHeader__punchline {
      @apply col-span-full desktop:col-span-1;
      @apply tablet:order-2;
    }

    & .pageHeader__video {
      @apply col-span-full;
      @apply tablet:order-5;
      
    }

    & .pageHeader__datetime {
      @apply tablet:order-3;
      @apply tablet:col-start-4;
      
    }
    
    & .pageHeader__org {
      @apply tablet:order-4;

    }

    /* @variant desktop { */
    /*   grid-template-columns: auto; */
    /* } */

    
  }

  .nav {
    @apply flex flex-wrap;

    & .nav__action-button {
      @apply fixed bottom-4 right-4;
      @apply z-10;
      @apply ml-auto;
      @apply desktop:static; 
    }
  }


  .loopingVideo {
    @apply flex items-center justify-center;
    @apply aspect-715/518 tablet:aspect-1540/508;

    & > media-controller {
      @apply w-full h-fit;
    }
  }

  .button {
    @apply text-base tablet:text-xl; 
    @apply tracking-[0.02em] tablet:tracking-[0.025em];
    @apply leading-none;

    /* default is secondary  */
    --btn-bg: var(--color-lavender);
    --btn-text: var(--color-black);
    --btn-bg-hover: var(--color-black);
    --btn-text-hover: var(--color-lavender);
    --btn-bg-active: var(--color-electric-purple);
    --btn-text-active: var(--color-black);

    & > .button__content {
      /* @apply rounded-2xl; */
    @apply m-[2px];
      @apply p-3; 
      @apply transition-colors duration-base;
      background-color: var(--btn-bg);
      color: var(--btn-text);
    }

    &.button--primary {
      --btn-bg: var(--color-black);
      --btn-text: var(--color-silver);
      --btn-bg-hover: var(--color-black);
      --btn-text-hover: var(--color-spring-green);
      --btn-bg-active: var(--color-spring-green);
      --btn-text-active: var(--color-black);
    } 

    &.button--secondary {
      --btn-bg: var(--color-lavender);
      --btn-text: var(--color-black);
      --btn-bg-hover: var(--color-black);
      --btn-text-hover: var(--color-lavender);
      --btn-bg-active: var(--color-electric-purple);
      --btn-text-active: var(--color-black);
    }

    &:hover {
      --btn-bg: var(--btn-bg-hover);
      --btn-text: var(--btn-text-hover);
    }

    &:active{
      --btn-bg: var(--btn-bg-active);
      --btn-text: var(--btn-text-active);
    }
    
    & > .button__border-box {
      @appy w-full h-full;
      filter: blur(0.7px);
      box-shadow: 
        inset 0 0 0 1px var(--color-silver), 
        inset 0 0 0 2px var(--color-electric-purple), 
        inset 0 0 0 3px var(--color-silver), 
        inset 0 0 0 4px var(--color-spring-green), 
        inset 0 0 0 5px var(--color-electric-purple),
        inset 0 0 0 6px var(--color-black);
    }
    
  }
}

@layer base {
  :root {
    --px: calc(0.75rem);
    --content-width: min(calc(100svw - var(--px) * 2), var(--max-content-width));
   

    @variant tablet {
      --px: calc(2rem);
    }  
  
    /* --gap-x-base: 0.5rem; */
    /* --gap-y-base: 0.5rem; */
  }

  a[href^="http"]:after {
    content: " ↗";
  }

  /* Button override */
  a[href^="http"].button:after {
    content: "";
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    font-optical-sizing: none;
    font-synthesis: none;
    -webkit-text-size-adjust: 100%;
  }

  body {
    @apply bg-lavender;
    @apply text-base leading-[1.2] tracking-[0.32px];
   
    @variant tablet {
      @apply text-xl leading-[1.1] tracking-[0.4px];
    }  

    & > * {
      @apply max-w-(--content-width) w-full mx-auto;
    }
  }
}
