---
import { getImage } from "astro:assets";
import videoPoster from "../assets/video-poster.png";

const poster = await getImage({
  src: videoPoster,
  widths: [480, 720, 1080, 1920],
  sizes: `100vw`,
});

const { class: className, ...props } = Astro.props;
---

<div class:list={["loopingVideo", "overflow-hidden", className]}>
  <media-controller
    gesturesdisabled
    nohotkeys
    class="block aspect-video bg-lavender"
  >
    <img
      slot="poster"
      src={poster.src}
      srcset={poster.srcSet.attribute}
      width="1920"
      height="1080"
      alt="Slightly animating text thay says localhost:2026"
      fetchpriority="high"
      decoding="async"
    />
    <video slot="media" loop autoplay muted playsinline>
      <source src="/banner/video_h264_444.mp4" type="video/mp4" />
      <source src="/banner/video_vp9_444.webm" type="video/webm" />
      <source src="/banner/video_h264_420.mp4" type="video/mp4" />
      <source src="/banner/video_av1_444.mp4" type="video/mp4; codecs=av01" />
      <source src="/banner/video_h265_444.mp4" type="video/mp4; codecs=hev1" />
    </video>
  </media-controller>
</div>

<script>
  import "media-chrome";
  import "hls-video-element";
</script>
