---
import { getEntry } from "astro:content";
import formatTime from "../utils/formatTime";

const { items } = Astro.props;

const place = items.at(0).place;

const placeEntry = await getEntry(place);
const { name } = placeEntry.data;
---

<div class="timetable__block">
  <h4 class="timetable__block__title">{name}</h4>
  <div class="timetable__block__items">
  {
    items &&
      items.map(({ datetime, label }) => (
      <div class="timetable__block__item">
        <div>{formatTime(datetime)}</div>
        <div>{label}</div>
        </div>
      ))
      }
  </div>
</div>
