---
import "../styles/global.css";


---

<html lang={Astro.props.currentLocale}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>localhost:2026 by METAA</title>
  </head>
  <body>
    <slot />
  </body>
</html>
